body{
  background: skyblue;
  text-align: center;
  font-size: 30px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  

}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

